div.help {
    float: left;
    border: 0;
    border-radius: 5px;
    padding: 2px;
}

div.help:hover {
    cursor: pointer;
    border: 2px solid rgb(255, 179, 0);
    background-color: white;
    color: black;
}

button.help {
    border: 0;
    background-color: white;
    border-radius: 5px;
}

a.help {
    font: 1.5em Arial;
    text-decoration: none;
    color: black;
}


.container {
    width: 500px;
    height: 640px;
    margin: 4.5rem auto;
    padding: .1em .3em;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(16, 16, 16, 0.586);
    cursor: default;
}

input {
    color: black;
    background-color: rgb(220, 220, 220);
    border: none;
    font: 20px "Fira Code";
    font-weight: 900;
    border-radius: 50%;
    margin: .1em;
    width: 4.5em;
    height: 4.5em;
    box-sizing: border-box;
    cursor: pointer;
}

input:focus {
    border: 1px solid rgb(7, 203, 252);
}

#display {
    font: 50px "Fira Code";
    background-color: rgb(0, 247, 148);
    display: block;
    border-radius: .1em;
    width: 98%;
    height: 20%;
    margin: .3em auto;
    border: none;
    border-bottom: 1px solid rgb(46, 46, 46);
    cursor: text;
}

#display:focus {
    outline: none;
    opacity: 85%;
    border-bottom: 3px solid rgb(46, 46, 46);
}

#display::selection {
    background-color: rgb(212, 254, 0);
}

.red {
    background-color: rgb(255, 98, 0);
    color: white;
}

.green {
    background-color: rgb(0, 247, 148);
    color: white;
    border-radius: 5px;
    width: 4.4em;
    height: 1.9em;
    font-size: 40px;
}

.green:focus {
    border: 1px solid rgb(0, 0, 0);
}

.display-clock {
    margin-right: 6.9rem;
}

.display-clock, .display-date {
    text-align: center;
    font: 2.5em Calibri;
    color: rgb(40, 185, 242);
    font-weight: bold;
}

.display-clock::selection, .display-date::selection {
    background-color: darkcyan;
    color: white;
}

@media (max-width: 992px) {
    .container {
        width: 450px;
        height: 580px;
        margin: 5.5rem auto;
    }

    input {
        font: 18.6px "Fira Code";
        width: 4.35em;
        height: 4.35em;
    }

    #display {
        font: 45px "Fira Code";
    }

    #display:focus {
        border-bottom: 2.5px solid rgb(46, 46, 46);
    }

    #display::selection {
        background-color: rgb(43, 180, 226);
    }

    .green {
        width: 4.65em;
        height: 2em;
        font-size: 35px;
    }

    .display-clock, .display-date {
        font: 2.25em Calibri;
    }

    .display-clock::selection, .display-date::selection {
        background-color: rgb(202, 5, 176);
    }

    a.help {
        font: 1.2em Arial;
    }
}

@media (max-width: 576px) {
    .container {
        width: 400px;
        height: 505px;
        margin: 5.5rem auto;
    }

    input {
        font: 17.8px "Fira Code";
        width: 4em;
        height: 4em;
    }

    #display {
        font: 40px "Fira Code";
    }

    #display:focus {
        border-bottom: 2px solid rgb(46, 46, 46);
    }

    #display::selection {
        background-color: rgb(226, 43, 43);
    }

    .green {
        width: 5em;
        height: 2.2em;
        font-size: 28px;
    }

    .display-clock, .display-date {
        font: 2em Calibri;
    }

    .display-clock::selection, .display-date::selection {
        background-color: rgb(5, 202, 58);
    }

    a.help {
        font: 1em Arial;
        text-decoration: underline;
    }
}
